<div class="answer">
  {{#each question.answers as |answer|}}
    <div class="row answer-tile">
      <div class="col-sm-2">
        <h4>{{answer.rating}}</h4>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-xs btn-default upvote-button" {{action 'upvote' answer.id}}>+</button>
        <button type="button" class="btn btn-xs btn-default downvote-button" {{action 'downvote' answer.id}}>-</button>
      </div>
      <div class="col-sm-6">
        <h5>{{answer.author}}</h5>
        <p class="pull-left">{{answer.body}}</p>
        <p class="pull-right">at {{formatTime answer.date}} on {{formatDate answer.date}}</p>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-xs btn-danger pull-right" {{action 'deleteAnswer' answer}}>x</button>
      </div>

    {{#if updateAnswerForm}}
      <div class="form-inline">
        <form>
          <div class="form-group">
            <label for="author">Author</label>
            {{input value=author id="author" placeholder=answer.author}}
          </div>

          <div class="form-group">
            <label for="body">Body</label>
            {{input value=body id="body" placeholder=answer.body}}
          </div>

          <button class=" btn btn-sm save-button" {{action 'updateAnswer' answer}}>Save</button>

          <button class="btn btn-sm btn-warning" {{action 'updateAnswerForm'}}>Cancel</button>

        </form>
      </div>
    {{else}}
    <div class="col-sm-1">
      <button class="btn btn-xs btn-warning pull-right" {{action 'updateAnswerForm'}}>Edit</button>
    </div>
    {{/if}}

  </div>
  {{/each}}


</div>
