{{#if updateQuestionForm}}
  <h4>Edit {{question.author}}'s Question:</h4>
  <div>
    <form>
      <div class="form-group">
            <label for="author">Author</label>
            {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title" placeholder=question.title}}
      </div>

      <div class="form-group">
        <label for="body">Body</label>
        {{textarea rows="8" cols="40" value=body placeholder=question.body id="body"}}
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        {{input value=category id="category" placeholder=question.category}}
      </div>

      <button class="btn btn-default save-button" {{action 'updateQuestion' question}}>Update</button>

      <button class="btn btn-warning" {{action 'updateQuestion'}}>Cancel</button>

    </form>
  </div>
{{else}}
    <button class="btn btn-default" {{action 'updateQuestionForm'}}>Update {{question.title}}</button>
{{/if}}
