{{#if updateAnswerForm}}
  <h4>Edit {{question.answer.author}}'s Answer:</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="body">Answer</label>
          {{input value=body id="body" placeholder=question.body}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <button {{action 'update' answer}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateAnswerForm'}}>Update</button>
{{/if}}
