{{#if addNewAnswer}}
  <h1>New Answer</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="body">Answer</label>
          {{input value=body id="body"}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>
        <button class="btn btn-default save-button" {{action 'saveAnswer'}}>Save</button>
        <button class="btn btn-warning" {{action 'hideAnswerForm'}}>Cancel</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-default new-button" {{action 'answerFormShow'}}>Answer this Question</button>
{{/if}}
