<div class="row">
  <div class="col-sm-8">

    <h2>{{question.title}}</h2>
    <h5>By {{question.author}}, <em>{{formatDate question.date}} at {{formatTime question.date}}</em></h5>
    <p>{{question.body}}</p>
    <p><em>Posted under <strong>{{question.category}}</strong></em></p>

  </div>
  <div class="col-sm-1">
    <button class="btn btn-sm btn-danger" {{action 'deleteQuestion' question}}>DELETE</button>
  </div>
  <br>
</div>
